name: Call Reusable Workflow
on:
  workflow_dispatch:
permissions:
  contents: write
  id-token: write
jobs:
  call-workflow:
    uses: vaishaliarora01-gif/central_repository.github/workflows/common_temp.yaml@main
    with:
      environment: prod
